/* line 2, ../sass/_settings.reset.scss */
* {
  box-sizing: border-box;
}

/* line 5, ../sass/_settings.reset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 15, ../sass/_settings.reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 18, ../sass/_settings.reset.scss */
body {
  line-height: 1;
}

/* line 20, ../sass/_settings.reset.scss */
html, body {
  background: url(../img/bg1.jpg);
  width: 100%;
  height: 100%;
  font-family: "futura";
}

/* line 27, ../sass/_settings.reset.scss */
ol, ul {
  list-style: none;
}

/* line 30, ../sass/_settings.reset.scss */
blockquote, q {
  quotes: none;
}

/* line 34, ../sass/_settings.reset.scss */
blockquote:before, blockquote:after {
  content: '';
  content: none;
}

/* line 39, ../sass/_settings.reset.scss */
q:before, q:after {
  content: '';
  content: none;
}

/* line 43, ../sass/_settings.reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 47, ../sass/_settings.reset.scss */
a {
  text-decoration: none;
  color: #333;
}
/* line 51, ../sass/_settings.reset.scss */
a:hover {
  text-decoration: underline;
}

/* line 3, ../sass/_objects.background.scss */
.o-background {
  background: url(../img/bg1.jpg);
  height: 100%;
  width: 100%;
  display: block;
  top: 0;
  position: relative;
}

/* line 3, ../sass/_objects.wrapper.scss */
.o-wrapper {
  background: url(../img/bg2.jpg);
  box-shadow: -40px 10px 30px rgba(0, 0, 0, 0.7);
  width: 100%;
  height: auto;
  max-width: 1040px;
  margin: 90px auto;
  display: block;
  padding: 20px;
  position: relative;
}

/* line 4, ../sass/_objects.header-decor.scss */
.o-header-dec {
  margin: 10px auto 0;
  display: block;
  text-align: center;
}
/* line 9, ../sass/_objects.header-decor.scss */
.o-header-dec .c-romb {
  display: inline-block;
  margin: 0 15px;
}
/* line 14, ../sass/_objects.header-decor.scss */
.o-header-dec h5 {
  display: inline-block;
}

/* line 3, ../sass/_objects.header.scss */
header {
  text-align: center;
  margin: 60px 0;
}

/* line 3, ../sass/_components.logo.scss */
.c-logo {
  background: url(../img/logo.png) no-repeat;
  display: block;
  height: 112px;
  margin: 0 auto 20px;
  width: 120px;
}

/* line 3, ../sass/_components.romb.scss */
.c-romb {
  background: #da3700;
  height: 10px;
  width: 10px;
  transform: rotate(45deg);
}

/* line 3, ../sass/_components.lines.scss */
hr {
  color: #566766;
  margin: 60px 0 20px;
  padding: 0;
  border-bottom: 1px solid #566766;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  line-height: 0;
  height: 1px;
  display: block;
}

/* line 3, ../sass/_components.clip.scss */
.c-clip {
  background: url(../img/clip.png) no-repeat;
  background-size: 100%;
  display: block;
  height: 180px;
  width: 45px;
  position: absolute;
  top: -115px;
  background-size: 100%;
}

/* line 14, ../sass/_components.clip.scss */
.c-clip--left {
  left: 30px;
}

/* line 17, ../sass/_components.clip.scss */
.c-clip--right {
  right: 30px;
  transform: scale(-1, 1);
}

/* line 3, ../sass/_components.lang.scss */
.c-lang {
  display: inline-block;
  width: 33%;
  margin: 0;
  text-align: center;
  vertical-align: top;
}
@media screen and (max-width: 400px) {
  /* line 3, ../sass/_components.lang.scss */
  .c-lang {
    width: 100%;
  }
}

/* line 15, ../sass/_components.lang.scss */
.c-lang__img {
  height: 120px;
  width: 120px;
  background-size: 100% auto;
  margin: 20px auto 20px;
}

/* line 21, ../sass/_components.lang.scss */
.c-lang__img--html {
  background: url(../img/logo-html.png) no-repeat center center/100% auto;
}

/* line 22, ../sass/_components.lang.scss */
.c-lang__img--css {
  background: url(../img/logo-css.png) no-repeat center center/100% auto;
}

/* line 23, ../sass/_components.lang.scss */
.c-lang__img--js {
  background: url(../img/logo-js.png) no-repeat center center/100% auto;
}

/* line 25, ../sass/_components.lang.scss */
.c-lang__list {
  list-style-type: none;
  text-transform: uppercase;
  font-family: "halogen";
  font-size: 0.8rem;
  line-height: 1.5rem;
}

/* line 3, ../sass/_components.icon.scss */
.c-icon--med {
  height: 80px;
  width: 80px;
}

/* line 8, ../sass/_components.icon.scss */
.c-icon--photoshop {
  background: url(../img/logo-photoshop.png) no-repeat center center/100% auto;
}

/* line 9, ../sass/_components.icon.scss */
.c-icon--illustrator {
  background: url(../img/logo-illustrator.png) no-repeat center center/100% auto;
}

/* line 10, ../sass/_components.icon.scss */
.c-icon--fireworks {
  background: url(../img/logo-fireworks.png) no-repeat center center/100% auto;
}

/* line 11, ../sass/_components.icon.scss */
.c-icon--sublime {
  background: url(../img/logo-sublime.png) no-repeat center center/100% auto;
}

/* line 12, ../sass/_components.icon.scss */
.c-icon--compass {
  background: url(../img/logo-compass.png) no-repeat center center/100% auto;
}

/* line 13, ../sass/_components.icon.scss */
.c-icon--git {
  background: url(../img/logo-git.png) no-repeat center center/100% auto;
}

/* line 3, ../sass/_components.frame.scss */
.c-frame {
  display: inline-block;
  border: 3px solid #566766;
  border-radius: 3px;
  font-family: "futura";
  font-weight: 100;
  text-align: center;
  position: relative;
  width: auto;
}

/* line 14, ../sass/_components.frame.scss */
.c-frame__img {
  display: block;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  margin: -15px auto 0;
  padding: 5px;
}

/* line 21, ../sass/_components.frame.scss */
.c-frame__title {
  background: #da3700;
  color: #fff;
  font-size: 0.5rem;
  margin: -5px auto 5px;
  padding: 10px 5px;
  text-transform: uppercase;
  width: 80px;
}

/* line 3, ../sass/_components.table-list.scss */
.c-table-list {
  display: table;
  table-layout: fixed;
  width: 100%;
}
/* line 8, ../sass/_components.table-list.scss */
.o-home__tools .c-table-list {
  margin-top: 50px;
}
/* line 12, ../sass/_components.table-list.scss */
.c-table-list li {
  display: table-cell;
  text-align: center;
  width: 100px;
}
@media screen and (max-width: 640px) {
  /* line 3, ../sass/_components.table-list.scss */
  .c-table-list {
    display: block;
  }
  /* line 21, ../sass/_components.table-list.scss */
  .c-table-list li {
    display: inline-block;
    margin-bottom: 10px;
    width: 32%;
  }
}
@media screen and (max-width: 350px) {
  /* line 29, ../sass/_components.table-list.scss */
  .c-table-list li {
    width: 49%;
  }
}

/* line 2, ../sass/_components.stamp.scss */
.o-stamps {
  list-style-type: none;
}
/* line 5, ../sass/_components.stamp.scss */
.o-stamps .c-stamp {
  display: inline-block;
  margin: 0 15px 15px 0;
}

/* line 11, ../sass/_components.stamp.scss */
.c-stamp {
  background: url(../img/stamp-1.png);
  background-size: 100%;
  height: 80px;
  width: 80px;
}

/* line 17, ../sass/_components.stamp.scss */
.c-stamp__logo {
  height: 100%;
  width: 100%;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: .2s all;
}
/* line 24, ../sass/_components.stamp.scss */
.c-stamp__logo:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

/* line 30, ../sass/_components.stamp.scss */
.c-stamp__logo--itv {
  background: url(../img/logo-itv.png) no-repeat center center;
  background-size: 70% 70%;
}

/* line 33, ../sass/_components.stamp.scss */
.c-stamp__logo--channel5 {
  background: url(../img/logo-channel5.png) no-repeat center center;
  background-size: 70% 70%;
}

/* line 35, ../sass/_components.stamp.scss */
.c-stamp__logo--cn {
  background: url(../img/logo-cn.png) no-repeat center center;
  background-size: 70% 70%;
}

/* line 37, ../sass/_components.stamp.scss */
.c-stamp__logo--disney {
  background: url(../img/logo-disney.png) no-repeat center center;
  background-size: 70% 70%;
}

/* line 39, ../sass/_components.stamp.scss */
.c-stamp__logo--lv {
  background: url(../img/logo-lv.png) no-repeat center center;
  background-size: 70% 70%;
}

/* line 41, ../sass/_components.stamp.scss */
.c-stamp__logo--cartier {
  background: url(../img/logo-cartier.png) no-repeat center center;
  background-size: 70% 70%;
}

/* line 43, ../sass/_components.stamp.scss */
.c-stamp__logo--qb {
  background: url(../img/logo-qb.png) no-repeat center center;
  background-size: 70% 70%;
}

/* line 45, ../sass/_components.stamp.scss */
.c-stamp__logo--rwc {
  background: url(../img/logo-rwc.png) no-repeat center center;
  background-size: 70% 70%;
}

/* line 47, ../sass/_components.stamp.scss */
.c-stamp__logo--sm {
  background: url(../img/logo-sm.png) no-repeat center center;
  background-size: 70% 70%;
}

/* line 49, ../sass/_components.stamp.scss */
.c-stamp__logo--butlins {
  background: url(../img/logo-butlins.png) no-repeat center center;
  background-size: 70% 70%;
}

/* line 51, ../sass/_components.stamp.scss */
.c-stamp__logo--haven {
  background: url(../img/logo-haven.png) no-repeat center center;
  background-size: 70% 70%;
}

/* line 53, ../sass/_components.stamp.scss */
.c-stamp__logo--warner {
  background: url(../img/logo-warner.png) no-repeat center center;
  background-size: 70% 70%;
}

/* line 55, ../sass/_components.stamp.scss */
.c-stamp__logo--swizzels {
  background: url(../img/logo-swizzels.png) no-repeat center center;
  background-size: 70% 70%;
}

/* line 3, ../sass/_components.big-romb.scss */
.c-big-romb {
  background: url(../img/romb-big2.png) no-repeat center center;
  height: 180px;
  width: 300px;
}
@media screen and (max-width: 900px) {
  /* line 3, ../sass/_components.big-romb.scss */
  .c-big-romb {
    background: url(../img/romb-big2.png) no-repeat center center;
    background-size: 95%;
  }
}
@media screen and (max-width: 440px) {
  /* line 3, ../sass/_components.big-romb.scss */
  .c-big-romb {
    background: url(../img/romb-big2.png) no-repeat center center;
    background-size: 70%;
  }
}
/* line 18, ../sass/_components.big-romb.scss */
.c-big-romb a {
  display: block;
  margin-top: 25px;
}

/* line 3, ../sass/_components.websites.scss */
.o-websites {
  list-style-type: none;
}
/* line 6, ../sass/_components.websites.scss */
.o-websites li {
  display: inline-block;
  width: 33.3%;
}
@media screen and (max-width: 670px) {
  /* line 6, ../sass/_components.websites.scss */
  .o-websites li {
    width: 50%;
  }
}
@media screen and (max-width: 440px) {
  /* line 6, ../sass/_components.websites.scss */
  .o-websites li {
    width: 100%;
  }
}

/* line 19, ../sass/_components.websites.scss */
.c-webistes__logo {
  -webkit-filter: brightness(100);
  filter: brightness(100);
  display: block;
  margin: 10px auto;
  height: 120px;
  width: 100px;
  transition: all .2s ease-in-out;
}
/* line 29, ../sass/_components.websites.scss */
.c-webistes__logo:hover {
  -webkit-filter: brightness(1);
  filter: brightness(1);
}

/* line 35, ../sass/_components.websites.scss */
.c-webistes__logo-rwc {
  background: url(../img/logo-rwc.png) no-repeat center center;
  background-size: auto 100%;
}

/* line 39, ../sass/_components.websites.scss */
.c-webistes__logo-gotoo {
  background: url(../img/logo-gotoo.png) no-repeat center center;
  background-size: 100% auto;
}

/* line 43, ../sass/_components.websites.scss */
.c-webistes__logo-gosmarter {
  background: url(../img/logo-gosmarter.png) no-repeat center center;
  background-size: 100% auto;
}

/* line 47, ../sass/_components.websites.scss */
.c-webistes__logo-embark {
  background: url(../img/logo-embark.png) no-repeat center center;
  background-size: 100% auto;
}

/* line 25, ../sass/main.scss */
h1, h2, h3, h4, h5 {
  font-family: "halogen";
}

/* line 28, ../sass/main.scss */
h2 {
  font-size: 1.2rem;
}

/* line 31, ../sass/main.scss */
h5 {
  font-size: 0.8rem;
}
