// Modules and Variables

hr {
	color:$color-grey;
	margin:60px 0 20px;
	padding:0;
	border-bottom:1px solid $color-grey;
	border-top:0;
	border-left:0;
	border-right:0;
	line-height:0;
	height:1px;
	display:block;
}
