// Modules and Variables

.c-icon--med {
	height: 80px;
	width: 80px;
}

.c-icon--photoshop 		{ background: url(../img/logo-photoshop.png) no-repeat center center / 100% auto; }
.c-icon--illustrator 	{ background: url(../img/logo-illustrator.png) no-repeat center center / 100% auto; }
.c-icon--fireworks 		{ background: url(../img/logo-fireworks.png) no-repeat center center / 100% auto; }
.c-icon--sublime 		{ background: url(../img/logo-sublime.png) no-repeat center center / 100% auto; }
.c-icon--compass 		{ background: url(../img/logo-compass.png) no-repeat center center / 100% auto; }
.c-icon--git 			{ background: url(../img/logo-git.png) no-repeat center center / 100% auto; }