// Modules and Variables

.o-wrapper {
	background: url(../img/bg2.jpg);
	box-shadow: -40px 10px 30px rgba(0,0,0,0.7);
	width: 100%;
	height: auto;
	max-width: 1040px;
	margin: 90px auto;
	display: block;
	padding: 20px;
	position: relative;
}
