
// Modules and Variables

.o-header-dec {
	margin: 10px auto 0;
	display: block;
	text-align: center;

	.c-romb {
		display: inline-block;
		margin: 0 15px;
	}

	h5 {
		display: inline-block;
	}


}
